body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

nav ul li a:hover {
  text-decoration: underline;
}

section {
  padding: 50px 20px;
  max-width: 1000px;
  margin: auto;
}

section h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.project {
  background-color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project h3 {
  margin-top: 0;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  position: sticky;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
}

.social-links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.social-links li {
  margin: 0 10px;
}

.social-links li a {
  color: #333;
  font-size: 24px;
}

.social-links li a:hover {
  color: #0077b5;
}

@media (max-width: 600px) {
  nav ul {
      flex-direction: column;
  }

  nav ul li {
      margin: 10px 0;
  }
}


.container-data-proyecto{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}



/* pop up */

       /* Estilos de la tarjeta de imagen */
       .image-container-proyect {
        position: relative;
        width: 250px; /* Ancho base */
        height: 250px; /* Altura base */
        overflow: hidden;
        cursor: pointer;
    }

    .image-container-proyect img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease;
    }

    .image-container-proyect:hover img {
        transform: scale(1.1); /* Aumentar tamaño en hover */
        filter: brightness(70%); /* Oscurecer imagen */
    }

    .image-name {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
        color: white;
        padding: 10px;
        box-sizing: border-box;
        transition: opacity 0.3s ease;
        opacity: 0; /* Inicialmente invisible */
        text-align: center;
    }

    .image-container-proyect:hover .image-name {
        opacity: 1; /* Mostrar al hacer hover */
    }

    /* Estilos para el popup */
    .popup {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente */
        z-index: 999;
        overflow: auto;
    }

    .popup-content {
      position: relative;
      margin: auto;
      width: 80%;
      max-width: 850px;
      background-color: #fff;
      padding: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      text-align: center;
      margin-top: 2rem;
    }

    .popup-content img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }

    .close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        font-size: 20px;
    }